<html>
    <head>
        <title><%= roll %>Marksheet</title>
    </head>
    <body>
        <div class="table-container">
            <table>
                <thead>
                    <% for(var i = 0; i < columns.length; i++) {%>
                        <th><%= columns[i] %></th>  
                    <% } %>
                </thead>
                <tbody>
                    <% for(var i = 0; i < rows.length; i++) {%>
                        <tr>
                            <% for(var j = 0; j < columns.length; j++) {%>
                                <td><%= rows[i][j] %></td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <span>
                Total CGPA: <%= cgpa %>/10
            </span>
        </div>
    </body>
</html>