.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .loginBox__controls {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 12px;

        button {
            margin-right: 8px;
        }
    }
}